#principal{
    width: 1500px;
    height: 700px;
    margin: auto;
}

header{
    width: 1500px;
    height: 100px;
    border: 1px solid #B71C1C;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    
}

#logo{
    width: 300px;
    height: 100px;
    text-align: center; 
    float: left;
}

#user{
    float: left;
    margin-left: 850px;
    font-size: smaller;
}

.menu{
    width: 200px;
    height: 597px;
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
    border: 1px solid #B71C1C;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

.menu ul{
    margin-top: 0px;  
}

.menu ul li{
    list-style: none;
    width: 200px;
    height: 25px;
    margin-left: -41px;   
    border: 1px solid #B71C1C;
    border-right: 0px;
    background: #4169E1;
    border-top-width: 0px;
    font-size: 75%;
}

.menu ul li a{
    text-decoration: none;
    padding: 5px 5px;
    color: #ffffff; 
}

.contenido {
    padding: 300%;
    margin-top: -250%;
}
.contenido .boton  {
    display: flex ;
    padding: 100px;
    height: 100px;
    width: 100px;
    border: 1px saddlebrown;
}

.contenido div h1{
    
    width: 500px;
    height: 50px;
    margin-top: -200px;
    size: 20px;
}